@import "tailwindcss";


/* Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(28, 28, 28, 0.6); 
  color: #D4AF37 !important; 
  width: 48px !important;
  height: 48px !important;
  padding: 8px 0px 8px 0px !important;
  border-radius: 9999px; 
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Arrow size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px !important; 
 
}

/* Optional: hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
